<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/navbar') %>
      <h1>Feed</h1>
      <p>Add your latest log on <a href="/your-page">Your Page</a></p>
      <h3>Latest 10 logs</h3>
      <% dailyLogs.forEach(log => { %>
      <div class="card mb-3 w-100">
        <div class="card-header">
          <a href="/user/<%= log.user %>"><%= log.user %></a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Day <%= log.day %> log</h5>
          <p class="card-text">
            <%= log.text %>
          </p>
          <p class="card-text">
            Proof:
            <a href="<%= log.proof %>" target="_blank" rel="noopener noreferrer"
              ><%= log.proof %></a
            >
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
