<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= loggedInUser %>'s log</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <h1><%= logOwner %>'s <span id="logdate"><%= logDate %></span> Log</h1>
      <% if(isLogOwner) {%>
      <!-- <a href="/editlog/<%= dailyLog.day %>" class="btn btn-primary"
        >Edit <%= dailyLog.day %></a
      > -->
      <% } %>
      <br />
      <div class="card mb-3 w-100">
        <div class="card-body">
          <p class="card-text">
            <%= logText %>
          </p>
          <p class="card-text">
            Proof:
            <a href="<%= logProof %>"
              ><%= logProof %></a
            >
          </p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script></script>
    <script src="/js/publicLog.js"></script>
  </body>
</html>
