<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
      <h1>Your Page</h1>
      <br />
      <h2>Hey there, <%= loggedInUser %>!</h2>
      <br />
      <% if(hasTask) { %>
      <h2>Your daily task is: <%= task %></h2>
      <% } else {%>
      <h3>What is your daily challenge?</h3>
      <p>**This can't be changed** (unless you ask nicely)</p>
      <p>It wiil show up like "Day 23 of (your task here)"</p>
      <form
        action="api/add-task/<%= loggedInUser %>"
        method="post"
        class="m-2"
        style="width: 200px;"
      >
        <input
          type="text"
          class="form-control m-2"
          name="task"
          id="taskinput"
          placeholder="Daily Challenge"
          required
          pattern="(.|\s)*\S(.|\s)*"
        />

        <button type="submit" class="btn btn-primary m-2">Submit</button>
      </form>
      <% } %>

      <a href="/new" class="btn btn-success">Add New Log</a>
      <br />
      <br />
      <h2>Completed Tasks:</h2>
      <table id="logtable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Snippet</th>
          </tr>
        </thead>
        <tbody id="logbody">
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="/js/yourpage.js"></script>
  </body>
</html>
